/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-inline-size: 100%;
    display: block;
}

.aboutMe {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

@media(max-width: 768px) {

    .aboutMe {
        flex-direction: column;
        padding: 0 1rem;
        gap: 1rem;
    }

    .aboutContent {
        flex: 1;
    }
}


.aboutContent {
    /* max-width: 40rem; */
    background: #ffffff;
    border-radius: 10px;
    flex: 1;
}

.aboutContent h3 {
    font-size: clamp(2rem, 3vw, 1rem);
    padding: 1rem 0;
}

.aboutContent p {
    padding: .5rem 0;
    font-size: 1.01rem;
}

.social p {
    font-weight: 600;
    border-bottom: 2pt solid #d3d3d3;
}

.social div {
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;

}

.fa-solid,
.fa-brands {
    color: rgb(170, 170, 170);
}

.fa-solid:hover,
.fa-brands:hover {
    color: rgb(135, 206, 206);
    cursor: pointer;
}